:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--Cream);
}
body .container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
body .container .container_preview {
  display: flex;
  margin: 20px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview {
    flex-direction: column;
  }
}
body .container .container_preview .container_preview_left .img-desktop {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 280px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_left .img-desktop {
    display: block;
    width: 280px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
body .container .container_preview .container_preview_right {
  background-color: var(--White);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 28px 20px 25px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_right {
    display: block;
    width: 280px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 17px;
  }
}
body .container .container_preview .container_preview_right .text-perfume {
  font-family: Montserrat;
  font-size: 0.625rem;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_right .text-perfume {
    margin-bottom: 10px;
  }
}
body .container .container_preview .container_preview_right h1 {
  font-family: "Fraunces";
  font-weight: 700;
  line-height: 30px;
  max-width: 170px;
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_right h1 {
    max-width: 273px;
    margin-bottom: 13px;
  }
}
body .container .container_preview .container_preview_right .description_perfume {
  color: var(--Dark-grayish-blue);
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 22px;
  max-width: 236px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_right .description_perfume {
    font-size: 0.75rem;
    line-height: 20px;
  }
}
body .container .container_preview .container_preview_right .prices {
  align-items: center;
  display: flex;
  margin-top: 23px;
  margin-bottom: 26px;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_right .prices {
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
body .container .container_preview .container_preview_right .prices .price_green {
  color: var(--Dark-cyan);
  font-family: Fraunces;
  font-size: 1.9rem;
}
@media screen and (max-width: 600px) {
  body .container .container_preview .container_preview_right .prices .price_green {
    font-size: 1.9rem;
  }
}
body .container .container_preview .container_preview_right .prices .price_strike {
  color: var(--Dark-grayish-blue);
  font-family: Montserrat;
  font-size: 0.65rem;
  font-weight: 500;
  margin-left: 28px;
}
body .container .container_preview .container_preview_right button {
  border: none;
  background: var(--Dark-cyan);
  border-radius: 8px;
  color: var(--White);
  display: flex;
  gap: 10px;
  font-family: Montserrat;
  font-weight: 700;
  justify-content: center;
  padding: 15px 0px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */